@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Anton, system-ui, sans-serif;
    letter-spacing: 0.05em;
    @apply font-anton;
  }
}

:root {
  color-scheme: dark;
}

.css-cucnh {
  width: auto;
}

.wallet-adapter-button {
  @apply !font-anton;
  letter-spacing: 0.08em;
}

.container {
  @apply font-anton;
}

.footer {
  @apply font-anton;
}

.header {
  @apply font-anton;
}
